#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#image-container {
  width: 50%;
  position:absolute;
  height: 40%;
  top: 40%;
  left: 25%;
  background-color: lightgray;
  color: rgb(20, 20, 20);
  border: 2px solid rgb(220,220,  220);
  border-radius: 4px;


}
#upload-label {
  position:relative;
  top:50%;
  width:40%;
  height:20%;
  margin-top: -20%;
  left:30%;
  border-style: dashed;
  border-color:rgb(150,150,150);
  background-attachment: lightgray;
  font-size: 1.5em;
}
.file-input {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
}