#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#image-container {
  width: 50%;
  position:absolute;
  height: 70%;
  top: 15%;
  left: 25%;
  background-color: lightgray;
  color: rgb(20, 20, 20);
  border: 2px solid rgb(220,220,  220);
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat; 
  background-position-x: center;
  background-position-y: center;

}
#upload-label {
  position:absolute;
  top:35%;
  width:70%;
  height:30%;
  
  left:15%;
  margin-left:0;
  border-style: dashed;
  border-color:rgb(150,150,150);
  border-radius: 8px;
  font-size: 1.5em;
}
#file-input {
  display: none;
}
.input {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
}